@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*nav bar start*/
nav{
    width: 100%;
    height: 75px;
    font-family: Montserrat;
    background-color: #7e9c57;
    line-height: 75px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    float: left;
}
nav .logo p{
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #fff;
    text-transform: uppercase;
}
.search-box {
	position: relative;
	background: #333;
	height: 2.6em;
	width: fit-content;
	border-radius: 2.1em;
	padding: 0.3em;
	display: flex;
	flex-direction: row;
	align-items: center;
  float: left;
  top: 18px;
}

.search-box a {
	text-decoration: none;
}

.search-btn {
	color: #666;
	width: 2.1em;
	height: 2.1em;
	border-radius: 50%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: #fff;
	font-size: 1em;
	transition: 0.4s;
	width: 300px;
}
nav ul{
    float: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 20px;
}
nav ul li a:hover{
    color: #000000;
}
nav ul .active{
    color: #000000;
}
.checkbtn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
    top: 24px;
    position: relative;
}
#check{
    display: none;
}
@media screen and (max-width: 1060px){
    nav{
        padding: 0px 50px;
    }
    .checkbtn{
        display: block;
    }
    nav .logo p{
        font-size: 30px;
    }
    nav ul{
        z-index: 10;
        width: 100%;
        height: 40vh;
        background-color: #53694c;
        position: fixed;
        top: 75px;
        left: -100%;
        text-align: center;
        transition: 0.5s ease;
    }
    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 5px;
    }
    .search-txt {
    	width: 240px;
    }
    #check:checked ~ ul{
        left: 0;
    }

}
@media screen and (max-width: 700px){
    nav{
        padding: 0px 50px;
    }
    .checkbtn{
        display: block;
    }
    nav .logo p{
        font-size: 30px;
    }
    nav ul{
        z-index: 10;
        width: 100%;
        height: 40vh;
        background-color: #53694c;
        position: fixed;
        top: 125px;
        left: -100%;
        text-align: center;
        transition: 0.5s ease;
    }
    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 5px;
    }
    .search{
      z-index: 10;
      left: -200%;
      position: fixed;
      top: 60px;
      transition: 0.5s ease;
      justify-content: center;
      display: flex;
    }
    .search-txt {
      width: 200px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ .search{
        left: 0;
        width: 100%;
        margin: auto;
    }

}
/*nav bar end*/

/*product cards start*/
.container{
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.product .product-card{
    z-index: 1;
    background: #1D212B;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    border-radius: 10px;
}
.product .product-card:before{
    content: '';
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product .product-card .product-img{
    z-index: 1;
    position: absolute;
    max-width: 280px;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.product .product-card .name{
   z-index: 2;
   color: #fff;
   position: absolute;
   width: 100%;
   text-align: center;
   bottom: 130px;
   font-size: 20px;
   letter-spacing: 1px;
}
.product .product-card .price{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;
 }
 .product .product-card .popup-btn{
    z-index: 2;
    color: #fff;
    background: #555;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
 }
 /*pop up view start*/
 .product .popup-view{
     z-index: 2;
     background: rgba(9, 52, 5, 0.5);
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0;
     visibility: hidden;
     transition: 0.5s;

 }
 .product .popup-view.active{
     opacity: 1;
     visibility: visible;
 }
 .product .popup-card{
    position: relative;
    display: flex;
    width: 800px;
    height: 500px;
    margin: 20px;
}
.product .popup-card .product-img{
    z-index: 2;
    background: #1D212B;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product .popup-card .product-img img{
    z-index: 2;
    position: relative;
    width: 420px;
    left: 0px;
}
.product .popup-card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}
.product .popup-card .close-btn{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}
.product .popup-card .info h2{
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}
.product .popup-card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.product .popup-card .info p{
    font-size: 15px;
    margin: 10px;
}
.product .popup-card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
.product .popup-card .info .add-cart-btn{
    color: #fff;
    background: #009DD2;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;
}
/*responsiveness*/
@media (max-width: 900px){
    .product .popup-card{
        flex-direction: column;
        width: 550px;
        height: auto;
    }
    .product .popup-card .product-img{
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .product .popup-card .product-img img{
        left: initial;
        max-width: 100%; 
        width: 280px;

    }
    .product .popup-card .info{
        width: 100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .product .popup-card .info h2{
       margin: 20px 5px 5px 5px;
       font-size: 25px;
    }
    .product .popup-card .info h2 span{
        font-size: 10px;
    }
    .product .popup-card .info p{
        font-size: 13px;
        margin: 5px;
    }
    .product .popup-card .info .price{
        margin: 5px;
        font-size: 30px;
    }
    .product .popup-card .info .add-cart-btn{
        font-size: 14px;
        padding: 5px 40px;
        margin: 5px auto;
    }
    .product .popup-card .close-btn{
        z-index: 4;
    }
}
  /*pop up view end*/

/*product cards end*/