.popup-window .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: none;
}

.popup-window .content{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    width: 800px;
    height: 400px;
    z-index: 6;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 3px 20px 3px;
    align-self: center;
    overflow: hidden;
}

.popup-window .content::before{
    content: '';
    height: 60vw;
    width: 40vw;
    background-color: #23303a;
    background-image: linear-gradient(315deg, #23303c 0%, #28313b 74%);
    position: absolute;
    transform: translate(50%, -10%) rotateZ(45deg);
    border-radius: 20px;
}

.popup-window.logout .content,
.popup-window.delete-item .content{
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.popup-window.logout .content::before,
.popup-window.delete-item .content::before{
    transform: translate(-50%, -60%) rotateZ(45deg);
}

.popup.title{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
    padding: 5px;
    align-self: center;
    z-index: 6;
    background-color: #637081;
    background-image: linear-gradient(315deg, #637081 0%, #7c98b3 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5em;
    letter-spacing: .3em;
    text-transform: uppercase;
}

form{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field{
    width: 70%;
    height: 2.1em;
    background-color: #f0f0f0;
    margin: 0.4em 0;
    border-radius: 2.1em;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.3em;
    position: relative;
}

.input-field i{
    text-align: center;
    line-height: 2em;
    color: #acacac;
    font-size: 1rem;
}

.input-field i.fa-exclamation-circle,
.input-field i.fa-check-circle{
    position: absolute;
    right: 0;
    transform: translateX(110%);
    margin: 0;
    padding: 0;
    color: #f03f63;
    cursor: pointer;
    display: none;
}

.input-field.success i.fa-check-circle{
    color: #34df34;
    display: block;
}
.input-field.error i.fa-exclamation-circle{
    display: block;
}

.input-field i.fa-eye,
.input-field i.fa-eye-slash {
    position: absolute;
    right: 0;
    margin-right: 5px;
    cursor: pointer;
}

.tooltip .tooltip-text{
    visibility: hidden;
    background-color: rgba(73, 72, 72, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.1em;
    position: absolute;
    bottom: 100%;
    right: -30%;
    min-width: 300px;
}

.tooltip .tooltip-text::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 95%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(73, 72, 72, 0.9) transparent transparent transparent;
}

.tooltip:hover .tooltip-text{
    visibility: visible;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 2.1em;
    font-weight: 600;
    font-size: 0.9rem;
    color: #333;
}

.input-field.success{
    border: 1.5px solid #34df34;
}
.input-field.error{
    border: 1.5px solid #f03f63;
}

.input-field input:placeholder-shown{
    color: #aaa;
    font-weight: 500;
}

.btn{
    width: 150px;
    height: 3em;
    padding: 0.5em;
    outline: none;
    border: none;
    border-radius: 1.875em;
    background-color: #4c4177;
    background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.8em 0;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 6;
}

.btn:hover{
    transform: scale(1.05);
}
.btn:active{
    opacity: 0.5;
}

.popup-window .closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    width: 30px;
    color: #ccc;
    font-size: 25px;
    font-weight: 600;
    line-height: 40px;
    text-align:center;
    border: none;
    margin: 0;
    padding: 0;
    transition: .4s;
}
.popup-window.logout .closeBtn{
    color: #121212;
}
.popup-window .closeBtn:hover{
    transform: scale(1.05);
}

.popup-window.active .overlay {
    display: block;
}

.popup-window.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}

/* input type file for file upload styles */

.image-upload{
    display: none;
}

.file-upload{
    width: 15%;
    height: 2.1em;
    background-color: #f0f0f0;
    margin: 0.4em 0;
    border-radius: 2.1em;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 0.3em;
    position: relative;
    transition: .4s;
    cursor: pointer;
}

.file-upload input{
    visibility: none;
}

.file-upload .tooltip .tooltip-text{
    min-width: 200px;
}

.file-upload i{
    color: #333;
}

.file-upload:hover{
    transform: scale(1.05);
    opacity: 0.7;
}
.file-upload:active{
    transform: scale(0.95);
}