<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/cart.css">
        <title>Cart</title>
    </head>
    <script>
        function addItemOne() {
            fetch(
                "http://localhost:3000/cart/add-item",
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(
                        {
                            itemId: "bf2d2630-a453-4315-849d-b8badc63b6a7",
                            quantity: 1
                        }
                    )
                }).then(res => res.json()).then(data => console.log(data));
        }
        function removeItemOne() {
            fetch(
                "http://localhost:3000/cart/remove-item",
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(
                        {
                            itemId: "bf2d2630-a453-4315-849d-b8badc63b6a7",
                        }
                    )
                }).then(res => res.json()).then(data => console.log(data));
        }
    </script>
    <body>
        <!--navbar start-->
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label>
            <div class="logo">
            <p>Website</p>
            </div>
            <div class="search">
            <div class="search-box">
            <input class="search-txt" id="pinput" type="text" name="" placeholder="Search here" onkeyup="searchElement()">
            <a class="search-btn" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
        </div>
            <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <!--navbar end-->

        <!--cart items start-->

        <div class="small-container cart-page">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="img/kottu_mee.png">
                            <div>
                                <p>Kottu Mee - 80g</p>
                                <small>Price: Rs. 80.00</small>
                                <br>
                                <a href=""><i class="fa fa-trash" aria-hidden="true" style="font-size: 18px;"></i></a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>Rs. 80.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="img/kottu_mee.png">
                            <div>
                                <p>Kottu Mee - 80g</p>
                                <small>Price: Rs. 80.00</small>
                                <br>
                                <a href=""><i class="fa fa-trash" aria-hidden="true" style="font-size: 18px;"></i></a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>Rs. 80.00</td>
                </tr>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="img/kottu_mee.png">
                            <div>
                                <p>Kottu Mee - 80g</p>
                                <small>Price: Rs. 80.00</small>
                                <br>
                                <a href=""><i class="fa fa-trash" aria-hidden="true" style="font-size: 18px;"></i></a>
                            </div>
                        </div>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>Rs. 80.00</td>
                </tr>
            </table>

            <div class="total-price">
                <table>
                    <tr>
                        <td>Subtotal</td>
                        <td>Rs. 240.00</td>
                    </tr>
                    <tr>
                        <td>Delivery</td>
                        <td>Rs. 200.00</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Rs. 440.00</td>
                    </tr>
                    <tr>
                        <td class="addtocart"><a href="#" class="add-cart-btn">Add to cart</a></td>
                    </tr>
                </table>
            </div>

        </div>
        <!--cart items end-->

    </body>
</html>
