<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/item.css">
        <title>Item</title>
    </head>

    <body>
        <!--navbar start-->
  <nav id="navbar">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <div class="logo">
      <p>Website</p>
    </div>
    <div class="search">
    <div class="search-box">
      <input class="search-txt" id="pinput" type="text" name="" placeholder="Search here" onkeyup="searchElement()">
      <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
      </a>
  </div>
  </div>
    <ul>
      <li><a class="active" href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Cart</a></li>
    </ul>
  </nav>
  <!--navbar end-->

  <!--item details start-->
  <div class="popup-view">
    <div class="popup-card">
      <div class="product-img">
        <img src="/img/item-img/kottu_mee.png" alt="">
      </div>
      <div class="info">
        <h2>Kottu mee<br><span>80g pack</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt commodi fuga dicta minima. Nesciunt dolores molestiae reiciendis corporis porro praesentium, temporibus neque quidem quia deserunt dicta sit magnam voluptate.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt commodi fuga dicta minima. Nesciunt dolores molestiae reiciendis corporis porro praesentium, temporibus neque quidem quia deserunt dicta sit magnam voluptate.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt commodi fuga dicta minima. Nesciunt dolores molestiae reiciendis corporis porro praesentium, temporibus neque quidem quia deserunt dicta sit magnam voluptate.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis deserunt commodi fuga dicta minima. Nesciunt dolores molestiae reiciendis corporis porro praesentium, temporibus neque quidem quia deserunt dicta sit magnam voluptate.
        </p>
        <span class="price">Rs.80</span>
        <span class="quantity">Quantity :</span>
        <input type="number" name="pqty" id="<?php echo $product->item_id ?>" class="<?php echo $product->item_id ?>" value="1" id="quantity" name="quantity" min="1" max="<?php echo $product->amount; ?>">
        <a href="#" class="add-cart-btn">Add to cart</a>
      </div>
    </div>
  </div>
  <!--item details start-->

    </body>
</html>
