<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="css/sideBar.css">
    <link rel="stylesheet" href="css/order.css">
    <title>Document</title>
</head>
<body>
    <div class="dashboard-container">
        <%- include('partials/sideBar.ejs');%>
        <div class="sub-division">
            <div class="order-container">
              <div class="order-header">
                <nav class="navbar navbar-light justify-content-between">
                  <a class="navbar-brand"><h1>OrderID</h1></a>
                  
                </nav>
              </div>
              <div class="order-credentiatls">
                <div class="row">
                  <div class="order-credential col">Customer name: Poorna</div>
                  <div class="order-credential left col">No. of items: n</div>
                  <div class="w-100"></div>
                  <div class="order-credential  col">Date: 2022/05/01</div>
                  <div class="order-credential left col">Status: Accepted</div>
                </div>
              </div>
              <div class="order-items table-responsive">
                <table class="table">
                  <thead>
                    <tr class="order">
                      <th scope="col">#</th>
                      <th scope="col">Item</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="order">
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr class="order">
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr class="order">
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
               <form action="post">
                <button type="button" class="order-accept-btn btn btn-outline-primary">Approve</button>
                <button type="button" class="order-reject-btn btn btn-outline-primary">Reject</button>
               </form> 
            </div>
        </div>
    </div>
    <script src="js/sideBar.js"></script>
</body>
</html>