<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%-include('partials/vendorUILinks.ejs') %>
    <link rel="stylesheet" href="css/order.css">
    <title>Order</title>
</head>
<body>
    <div class="dashboard-container">
      <h1><%= JSON.stringify(order)%></h1>
      <%- include('partials/navbar.ejs', {activeTab: "Order"}) %>
      <%-include('partials/sidebar.ejs');%>
        <div id = "second" class="sub-division">
          <div class="order-container">
            <div class="order-view">
              Order ID : 123456789OD
            </div>
            <div class="order-details-content">
              <div class="order-shipping-details">
                Shipping Details
                <hr>
                <div class="order-shipping">
                  <div class="form-group">
                    <label>First Name</label>
                    <div class="order-field form-control">
                      Poorna
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Last Name</label>
                    <div class="order-field form-control">
                      Cooray
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <div class="order-field form-control">
                      Poorna.19@cse.mrt.ac.lk
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Contact No</label>
                    <div class="order-field form-control">
                      0761234567
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Address</label>
                    <div class="order-field form-control">
                      12/A, bla bla rd, Bla bla
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-detail">
                Order Details
                <hr>
                <table class="table table-responsive table-all table-striped table-sm table-hover">
                  <thead>
                    <tr class="order">
                      <th scope="col">#</th>
                      <th scope="col">Item</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="order">
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr class="order">
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr class="order">
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
                  <div class="order-total">
                    <div class="order-total-label">
                      Grand Total :
                    </div>
                    <div class="order-total-value">
                      Rs. 12000.00
                    </div>
                  </div>
                  <div class="order-status form-group">
                    <label>
                      Order Status :
                    </label>
                    <form action="">
                      <select class="order-status-select form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">Dispatched</option>
                        <option value="2">Rejected</option>
                      </select>
                  </div>
              </div>
            </div>
          </div>
          <button type="submit" class="order-accept-btn btn btn-primary">Update Status</button>
        </form>
    </div>
    <script src="js/sideBar.js"></script>
</body>
</html>
