<div id="first" class="dashboard-container">
  <div class="dashboard-sidebar-container">
    <div class="dashboard-banner">
      <span class="dashboard-toggle-icon"><i class="bx bx-menu"></i></span>
      <span class="dashboard-text">Dashboard</span>
    </div>
    <ul class="dashboard-side-bar">
      <div class="dashboard-account-details">
        <div class="dashboard-icon">
          <i class="bx bxs-store" style="color: rgb(0, 0, 0)"></i>
        </div>
        <div class="dashboard-user-credentials">
          <div
            class="hospital-name dashboard-credential-label"
            style="font-size: 13.5pt"
          >
            Online Store
          </div>
          <div class="user-name dashboard-credential-label">Vendor</div>
        </div>
      </div>
      <li
        class="dashboard-list"
        data-toggle="tooltip"
        data-placement="right"
        title="Home"
      >
        <a href="#" class="option">
          <span class="dashboard-link-icon"><i class="bx bxs-home"></i></span>
          <span class="text">Home</span>
        </a>
      </li>
      <li
        class="dashboard-list"
        data-toggle="tooltip"
        data-placement="right"
        title="Orders"
      >
        <a href="#" class="option">
          <span class="dashboard-link-icon"
            ><img src="img/order.png" alt=""
          /></span>
          <span class="text">Orders</span>
        </a>
      </li>
      <li
        class="dashboard-list"
        data-toggle="tooltip"
        data-placement="right"
        title="Products"
      >
        <a href="#" class="option">
          <span class="dashboard-link-icon"
            ><img src="img/item.png" alt=""
          /></span>
          <span class="text">Products</span>
        </a>
      </li>
      <li
        class="dashboard-list admin-settings"
        data-toggle="tooltip"
        data-placement="right"
        title="Settings"
      >
        <a href="#" class="option">
          <span class="dashboard-link-icon"><i class="bx bx-cog"></i></span>
          <span class="text">Settings</span>
        </a>
      </li>
      <li
        class="dashboard-list dashboard-list-logout"
        data-toggle="tooltip"
        data-placement="right"
        title="Log Out"
      >
        <a href="#" class="option">
          <span class="dashboard-link-icon"
            ><i class="bx bx-log-out-circle bx-flip-horizontal"></i
          ></span>
          <span class="text">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</div>
